body {
    font: 0.9em Comic sans MS;
}

a.main:link,a:visited,a:active {
    font-size: 1.2em;
    color: black;
    background-color: transparent;
    text-decoration: none;
}
  
a.main:hover {
    font-size: 1.2em;
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

a:link,a:visited,a:active {
    font-size: 0.75em;
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
  
a:hover {
    font-size: 0.75em;
    color: darkblue;
    background-color: transparent;
    text-decoration: underline;
}

table.border, td.border {
    border-collapse: collapse;
    border: 2px solid black;
}

table.borderNone, td.borderNone {
    border: none;
}

.backgroundColor {
    background-color: #9FC5F8;
}

td.middleText {
    font-size: 0.8em;
    font-style: italic;
}

